@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #f8fafc;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

  --ff: "Playfair Display", serif;
  font-size: 100%;

  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans -serif;
  background-color: #d9eee0;
}

a {
  text-decoration: none;
}

.section_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.header {
  background-color: darkgreen;
  height: 100px;
}

.navbar_container {
  max-width: 1400px;
  background-color: var(--white);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 1rem 2rem;
  transform: translatey(35%);
}

.navbar_logo img {
  margin-top: 8px;
  max-width: 110px;
  display: block;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid darkgreen;
  border-radius: 0 0 10px 10px;
  padding-bottom: 0.1rem;
  margin-left: 2rem;
  outline: none;
  font-size: 1rem;
  color: var(--text-dark);
  width: 230px;
}

.search-box input {
  border: none;
}

.search {
  border: none;
  background: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.navbar_toglle {
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--text-dark);
  cursor: pointer;
  display: none;
}

.navbar_toglle ion-icon:hover {
  color: var(--secondary-color);
}

.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(15, 44, 15, 0.7),
      rgba(15, 44, 20, 0.1)
    ),
    url("../img/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-block: 10rem;
  margin-bottom: 20px;
}

.hero_container h1 {
  color: var(--white);
  font-size: 4rem;
  font-family: var(--ff);
}

/* Equipe */
.equipe {
  padding: 80px 20px;
  background:  #d9eee0;
  text-align: center;
  font-family: var(--ff-playfair);
  color: var(--white);
}

.titulo-secao h2 {
  font-size: 2.8rem;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.titulo-secao p {
  color: var(--text-dark);
  font-size: 1.2rem;
  margin-bottom: 50px;
}



/* ===== FLEXBOX ===== */
.cards-equipe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  max-width: var(--max-width);
  margin: 0 auto;
}



/* ===== CARD ===== */
.card {
  background: #fff;
  border-radius: 20px;
  padding: 30px 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(33.333% - 40px); /*1 1 300px; */
  max-width: 380px;
  animation: fadeUp 0.8s ease forwards;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border: 3px solid var(--secondary-color);
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

/* ===== OVERLAY ===== */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 26, 44, 0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.avatar:hover .overlay {
  opacity: 1;
}

/* ===== REDES SOCIAIS ===== */
.social {
  display: flex;
  gap: 14px;
}

.social a {
  color: var(--white);
  font-size: 1.4rem;
  width: 38px;
  height: 38px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social a:hover {
  background: var(--secondary-color);
  border-color: transparent;
  transform: scale(1.1);
}

.social a:hover ion-icon {
  transform: rotate(10deg);
  transition: transform 0.3s ease;
}

/* ===== TEXTO ===== */
.card h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 8px;
}

.card p {
  color: var(--text-light);
  font-size: 1rem;
  line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
  background-image: url('../img/celia.jpeg');
}

.membro2 .avatar {
  background-image: url('../img/jefte.jpeg');
}

.membro3 .avatar {
  background-image: url('../img/AUDN3516.JPG');
}

.membro4 .avatar {
  background-image: url('../img/vanessa1.jpeg');
}



/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:nth-child(1) {
  animation-delay: 0.2s;
}
.card:nth-child(2) {
  animation-delay: 0.4s;
}
.card:nth-child(3) {
  animation-delay: 0.6s;
}
.card:nth-child(4) {
  animation-delay: 0.8s;
}

/* footer */
footer {
  max-width: 100%;
  background: darkgreen;
  padding: 20px 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

@media (max-width: 992px) {
  .navbar_container {
    padding: 1rem;
    height: auto;
    transform: translateY(0);
    gap: 10px;
  }

  .navbar-links {
    gap: 1.2rem;
  }

  .search-box {
    width: 180px;
  }

  .cards-equipe {
    gap: 25px;
  }

  .card {
    flex: 1 1 calc(50% - 40px);
  }
}

/* Celulares */
@media (max-width: 768px) {

  /* Mostrar botão mobile */
  .navbar_toglle {
    display: block;
  }

  /* Esconder links e busca inicialmente */
  .navbar-links,
  .search-box {
    display: none;
  }

  /* MENU MOBILE */
  .navbar-links {
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    gap: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }

  .navbar-links.show {
    display: flex;
  }

  /* HERO menor */
  .hero-section {
    padding-block: 6rem;
    background-position: center;
  }

  /* EQUIPE */
  .cards-equipe {
    flex-direction: column;
    gap: 25px;
  }

  .card {
    max-width: 90%;
    margin: 0 auto;
  }

  /* Texto */
  .titulo-secao h2 {
    font-size: 2rem;
  }
}

/* Celulares pequenos */
@media (max-width: 480px) {

  .navbar_container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar_logo img {
    max-width: 90px;
  }

  .hero-section {
    padding-block: 4rem;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  .card {
    padding: 20px;
  }

  .titulo-secao h2 {
    font-size: 1.8rem;
  }
}

