@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #f8fafc;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

  --ff: "Playfair Display", serif;
  font-size: 100%;

  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans -serif;
  background-color: #d9eee0;
}

a {
  text-decoration: none;
}

.section_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

.header {
  background-color: darkgreen;
  height: 100px;
}

.navbar_container {
  max-width: 1400px;
  background-color: var(--white);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 1rem 2rem;
  transform: translatey(35%);
}

.navbar_logo img {
  margin-top: 8px;
  max-width: 110px;
  display: block;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid darkgreen;
  border-radius: 0 0 10px 10px;
  padding-bottom: 0.1rem;
  margin-left: 2rem;
  outline: none;
  font-size: 1rem;
  color: var(--text-dark);
  width: 230px;
}

.search-box input {
  border: none;
}

.search {
  border: none;
  background: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.navbar_toglle {
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--text-dark);
  cursor: pointer;
  display: none;
}

.navbar_toglle ion-icon:hover {
  color: var(--secondary-color);
}

.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(15, 44, 15, 0.7),
      rgba(15, 44, 20, 0.1)
    ),
    url("../img/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-block: 10rem;
  margin-bottom: 20px;
}

.hero_container h1 {
  color: var(--white);
  font-size: 4rem;
  font-family: var(--ff);
}

h1 {
    color: darkgreen;
    text-align: center;
    
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}



.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos img {
    width: 250px;
    padding: 20px;
}

.produtos a {
    color: darkgreen;
    font-weight: bold;

   
}

.produtos a:hover {
    color: var(--secondary-color);
}

.produtos li:hover {
    border-color: rgb(53, 167, 53); ;
}

.produtos li:active {
    border-color: greenyellow;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}



footer {
  max-width: 100%;
  background: darkgreen;
  padding: 20px 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}
